{% extends 'base.html' %}

<!--传递到这个页面的request会向上传递，所以可以在base.html里进行处理-->

{% load staticfiles %} <!--模板里已经加载过，但是这里还是要加载一遍-->
{% block title %}课程视频-源学网 {% endblock %}

{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'course:forum_list' %}">我的小组论坛</a>></li>
                <li>{{ forum.name }}</li>
            </ul>
        </div>
    </section>
{% endblock %}


{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/common-less.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/course-comment.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block custom_content %}
    <div id="main">
        <div class="course-info-main clearfix w has-progress">

            <div class="info-bar clearfix">
                <div class="content-wrap clearfix">
                    <div class="content">
                        <div class="mod-tab-menu">
                            <ul class="course-menu clearfix">
                                <li><a class="ui-tabs-active active" id="learnOn"  href="{% url 'course:forum_home' forum.id %}"><span>问答</span></a></li>
                                <li><a id="commentOn" class="" href="{% url 'course:forum_resource' forum.id %}"><span>共享资源</span></a></li>
                                <li><a id="commentOn" class="" href="{% url 'course:forum_blog' forum.id %}"><span>手记</span></a></li>
                                <li><a id="commentOn" class="" href="{% url 'course:forum_task' forum.id %}"><span>课程任务</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="course_note">
                <a style="color: #ad1312;font-size: medium;margin-left: 2%" href="{% url 'course:forum_add_question' forum.id%}">提问</a>
                <a style="color: #00ad29;font-size: medium;margin-left: 2%" href="?type=solved">解决</a>
                <a style="color: #00ad29;font-size: medium;margin-left: 2%" href="?type=unsolved">未解决</a>
                <ul class="mod-post" id="comment-list">
                    {% for question in questions.object_list %}
                        <li class="post-row">
                            <div class="media">
                                <span target="_blank"><img src='{{ MEDIA_URL }}{{ question.questioner.image }}' width='40' height='40' /></span>
                            </div>
                            <div class="bd">
                                <div class="tit">
                                    <a href="{% url 'course:forum_question_detail' question.id %}">{{ question.title }}</a>
                                </div>
                                <p class="cnt">{{ question.questioner.username }}</p>
                                <div class="footer clearfix">
                                    <span title="创建时间" class="l timeago" style="color: #00ad29">时间：{{ question.created_time|timesince }}前</span>
                                    <span title="回答数量" class="l timeago" style="color: #00ad29">/  回答：{{ question.get_answer_nums }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pageturn">
                    <ul class="pagelist">
                        {% if questions.has_previous %}
                         <li class="long"><a href="?{{ questions.previous_page_number.querystring }}">上一页</a></li>
                        {% endif %}

                         {% for page in questions.pages %}
                             {% if page %}
                                {% ifequal page questions.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                     <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                 {% endifequal %}
                            {% else %}
                                <li class="none"><a href="">...</a></li>
                            {% endif %}
                         {% endfor %}
                        {% if questions.has_next %}
                          <li class="long"><a href="?{{ questions.next_page_number.querystring }}">下一页</a></li>
                         {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
